My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "f3a91c7e-2b84-4d56-9e03-c8d7b5a14f28",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/messages?$search=%22attachment:.xml%22&$select=id,subject,receivedDateTime,isRead&$top=25",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [220, 0],
      "id": "b2c3d4e5-f6a7-8901-bcde-222222222222",
      "name": "Get XML Emails",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5O92IhLFZRZ6bRpC",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [440, 0],
      "id": "c3d4e5f6-a7b8-9012-cdef-333333333333",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-0001-0002-0003-000400000005",
              "leftValue": "={{ $json.isRead }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [660, 0],
      "id": "d4e5f6a7-b8c9-0123-defa-444444444444",
      "name": "If unread"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "isRead": true
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [880, -100],
      "id": "e5f6a7b8-c9d0-1234-efab-555555555555",
      "name": "Mark as read",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5O92IhLFZRZ6bRpC",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": {
          "__rl": true,
          "value": "={{ $('If unread').item.json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1100, -100],
      "id": "f6a7b8c9-d0e1-2345-fabc-666666666666",
      "name": "Get attachments",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5O92IhLFZRZ6bRpC",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-1001-1002-1003-100410000005",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".xml",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1320, -100],
      "id": "a7b8c9d0-e1f2-3456-abcd-777777777777",
      "name": "If XML"
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": {
          "__rl": true,
          "value": "={{ $('If unread').item.json.id }}",
          "mode": "id"
        },
        "attachmentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1540, -200],
      "id": "b8c9d0e1-f2a3-4567-bcde-888888888888",
      "name": "Download attachment",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5O92IhLFZRZ6bRpC",
          "name": "Microsoft Outlook OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agromouro-production.up.railway.app/webhook/nfe-email?fazenda=mg",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1760, -200],
      "id": "c9d0e1f2-a3b4-5678-cdef-999999999999",
      "name": "Send to API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IQP9Xa9OIW5U8UpD",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get XML Emails", "type": "main", "index": 0}]]
    },
    "Get XML Emails": {
      "main": [[{"node": "Split Out", "type": "main", "index": 0}]]
    },
    "Split Out": {
      "main": [[{"node": "If unread", "type": "main", "index": 0}]]
    },
    "If unread": {
      "main": [
        [{"node": "Mark as read", "type": "main", "index": 0}],
        []
      ]
    },
    "Mark as read": {
      "main": [[{"node": "Get attachments", "type": "main", "index": 0}]]
    },
    "Get attachments": {
      "main": [[{"node": "If XML", "type": "main", "index": 0}]]
    },
    "If XML": {
      "main": [
        [{"node": "Download attachment", "type": "main", "index": 0}],
        []
      ]
    },
    "Download attachment": {
      "main": [[{"node": "Send to API", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c24b249b-6d10-4d27-ba22-12221a4f35de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ee62ff9cde9f355720bf951a0206c62aa4590b55b1637c37129dd8a969fd861"
  },
  "id": "Ft8MX5imBYtaT3oh",
  "tags": []
}
