n8n-nfe-tejuco.json
{
  "name": "AgroMouro — NF-e Tejuco (SP)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "a1b2c3d4-e5f6-7890-abcd-tejuco000001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/messages?$search=%22attachment:.xml%22&$select=id,subject,receivedDateTime,isRead&$top=25",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [220, 0],
      "id": "b2c3d4e5-f6a7-8901-bcde-tejuco000002",
      "name": "Get XML Emails",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "CREDENTIAL_ID_TEJUCO",
          "name": "Outlook — nfe.tejuco"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [440, 0],
      "id": "c3d4e5f6-a7b8-9012-cdef-tejuco000003",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-tejuco-0001-0002-0003",
              "leftValue": "={{ $json.isRead }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [660, 0],
      "id": "d4e5f6a7-b8c9-0123-defa-tejuco000004",
      "name": "If unread"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "update",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "isRead": true
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [880, -100],
      "id": "e5f6a7b8-c9d0-1234-efab-tejuco000005",
      "name": "Mark as read",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "CREDENTIAL_ID_TEJUCO",
          "name": "Outlook — nfe.tejuco"
        }
      }
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "getAll",
        "messageId": {
          "__rl": true,
          "value": "={{ $('If unread').item.json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1100, -100],
      "id": "f6a7b8c9-d0e1-2345-fabc-tejuco000006",
      "name": "Get attachments",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "CREDENTIAL_ID_TEJUCO",
          "name": "Outlook — nfe.tejuco"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-tejuco-xml-0001",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".xml",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1320, -100],
      "id": "a7b8c9d0-e1f2-3456-abcd-tejuco000007",
      "name": "If XML"
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "download",
        "messageId": {
          "__rl": true,
          "value": "={{ $('If unread').item.json.id }}",
          "mode": "id"
        },
        "attachmentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1540, -200],
      "id": "b8c9d0e1-f2a3-4567-bcde-tejuco000008",
      "name": "Download attachment",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "CREDENTIAL_ID_TEJUCO",
          "name": "Outlook — nfe.tejuco"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agromouro-production.up.railway.app/webhook/nfe-email?fazenda=sp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1760, -200],
      "id": "c9d0e1f2-a3b4-5678-cdef-tejuco000009",
      "name": "Send to API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IQP9Xa9OIW5U8UpD",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get XML Emails", "type": "main", "index": 0}]]
    },
    "Get XML Emails": {
      "main": [[{"node": "Split Out", "type": "main", "index": 0}]]
    },
    "Split Out": {
      "main": [[{"node": "If unread", "type": "main", "index": 0}]]
    },
    "If unread": {
      "main": [
        [{"node": "Mark as read", "type": "main", "index": 0}],
        []
      ]
    },
    "Mark as read": {
      "main": [[{"node": "Get attachments", "type": "main", "index": 0}]]
    },
    "Get attachments": {
      "main": [[{"node": "If XML", "type": "main", "index": 0}]]
    },
    "If XML": {
      "main": [
        [{"node": "Download attachment", "type": "main", "index": 0}],
        []
      ]
    },
    "Download attachment": {
      "main": [[{"node": "Send to API", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "3ee62ff9cde9f355720bf951a0206c62aa4590b55b1637c37129dd8a969fd861"
  },
  "tags": [{"name": "agromouro"}, {"name": "nfe"}]
}
